@charset "UTF-8";
/* CSS Document */

*{
	padding: 0;
	margin: 0;
}

/*Logo*/

nav img {
	width: 250px;
	position: fixed;
	left: 3%;
	z-index: 3;
}

/*Navigation*/

#nav-bar {
	position: fixed;
	left: 0%;
	width: 100%;
	height: 100px;
	background-color: #FFFFFF;
	box-shadow: 0 0 10px 3px rgba(0,0,0,0.40);
	z-index: 2;
}

nav {
	width: 100%;
	height: 100px;
	z-index: 3;
}

ul {
	text-align: center;
	position: fixed;
	top: 0;
	right: 3%;
	z-index: 3;
}

ul li {
	list-style: none;
	display: inline-block;
	line-height: 100px;
	z-index: 3;
}

ul li a {
	display: block;
	text-decoration: none;
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
	color: #000000;
	padding: 0 20px;
	cursor: pointer;
	z-index: 3;
}

nav a:hover {
    color: #A9A9A9;
}

/*Hero*/

* {box-sizing: border-box;}
body {font-family: 'Raleway', sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  margin: auto;
  z-index: 1;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/*Index*/

.index-page {
	padding: 20px;
	margin: 15px;
	float: left;
}


.honeycombs {
	width: 70%;
	margin-left: 200px;
	margin-top: 90px;

}


.SOME{
	display: inline-block;
	width: 1500px;
	padding-left:200px;
	


	
}
	
	



#what-is-tendo h1 {
	width: 600px;
	color: #2B2B2B;
	text-align: left;
	font-family: 'Raleway', sans-serif; 
	margin-top: -16px;
	font-size: 3em;
}

#what-is-tendo p {
	font-family: 'Raleway', sans-serif;
	margin-right: 40px;
	font-size: 2em;
}


/*Footer*/

.footer {
	display: table;
	position:absolute;
	width: 100%;
	background-color: #000000;
	color: white;
	text-align: center;
	height: 140px;	
}
	
.footer p {
    font-family: 'Raleway', sans-serif;
	display: inline;
	margin-left: 20px;
	margin-right: 60px;	
 	background-color: #000000;
	color: #FFFFFF;
	vertical-align: middle;
	display: table-cell;
}