@charset "UTF-8";
/* CSS Document */

*{
	padding: 0;
	margin: 0;
}

/*Logo*/

nav img {
	width: 250px;
	position: fixed;
	left: 3%;
}

/*Navigation*/

#nav-bar {
	position: fixed;
	left: 0%;
	width: 100%;
	height: 100px;
	background-color: #FFFFFF;
	box-shadow: 0 0 10px 3px rgba(0,0,0,0.40);
}

nav {
	width: 100%;
	height: 100px;
}

ul {
	text-align: center;
	position: fixed;
	top: 0;
	right: 3%;
}

ul li {
	list-style: none;
	display: inline-block;
	line-height: 100px;
}

ul li a {
	display: block;
	text-decoration: none;
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
	color: #000000;
	padding: 0 20px;
	cursor: pointer;
}

/*Hero*/

.hero {
	position: static;
	left: 5%;
}

.hero img {
	width: 100%;
 	position: static;
  	left: 55%;
}

/*Index*/

.index-page {
	padding: 20px;
	margin: 15px;
	float: left;
}


.bg {
	background-image: url(images/background-diagonal.png);
	width: 1000px;
	height: 759px;

	
	
}

.honeycombs {
	width: 70%;
	margin-left: 200px;
	margin-top: 90px;
}

#what-is-tendo h1 {
	width: 600px;
	color: #2B2B2B;
	text-align: left;
	font-family: 'Raleway', sans-serif; 
	margin-top: -16px;
	font-size: 3em;
}

#what-is-tendo p {
	font-family: 'Raleway', sans-serif;
	margin-right: 40px;
	font-size: 2em;
}


/*Footer*/

.footer {
	display: table;
	position:absolute;
	width: 100%;
	background-color: #000000;
	color: white;
	text-align: center;
	height: 140px;	
}
	
.footer p {
    font-family: 'Raleway', sans-serif;
	display: inline;
	margin-left: 20px;
	margin-right: 60px;	
 	background-color: #000000;
	color: #FFFFFF;
	vertical-align: middle;
	display: table-cell;
}